body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 2ch;
    accent-color: var(--color-accent);
  }
  nav {
    display: flex;
    margin-bottom: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color); /*oklch(80% 3% 200);*/
  }

  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  }

  a.current {
    /* shorthand: border: width style color */
    border-bottom-color: var(--border-color); /*oklch(80% 3% 200);*/
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    /*padding-bottom: 0.3em;*/
  }

  :root {
    --color-accent: lightblue;
    color-scheme: light dark;
  }

  a:hover {
    text-align: center;
    border-bottom: 0.4em solid var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%); /*oklch(from var(--color-accent) 95% 5% h);*/
  }

  select, input, textarea, button {
    font: inherit;
  }
  
  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
  }
  
  label{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  button {
    display: grid;
    grid-column: 1 / -1;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  /* make the grid have as many columns as can fit in the container, each with a minimum width of 15em and a maximum width of 1fr*/

  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    h2 {
      margin: 0;
    }
    gap: 1em;
    padding: 1ch;
  }
  }

 h1 {
    font-size: 2em;
  }
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
  }
  
  /* resume related css */
  .resume {
    font-family: Helvetica, Arial, sans-serif;
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
    }
    p, ul { 
    margin: 0; 
    }
    h1, h2 {
      text-align: center;
    }
    h1 {
      margin-bottom: 0;
    }
    #contact-info { 
      text-align: center;
      margin-top: 0.5em;
    }
    a.link {
      text-align: inherit;
      border: none;
    }
    a.link:hover {
        background-color: inherit;
        color: blue;
        text-decoration: underline;
      }
  }
    
  span.timeright {
    /*padding-left: 100px;
    display: flex;
    /* position: absolute;
    right: 1em;
    text-align:;
    justify-content: right;*/
    float: right;
  }

  h4.underline {
    text-decoration: underline;
  }
  h4.italics {
    font-style: italic;
    margin-top: 0.5em;
  }

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}



.projects, .home {
  h1, h2 {
  margin-bottom: 0;
}
}

#profile-stats {
  dl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: 2px, solid #999;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: var(--color-accent);
}
dt {
  grid-row: 1;
}
dd {
  grid-row: 2;
}
}

.year {
  font-family: "Baskerville", "Georgia", serif;
  font-variant-numeric: oldstyle-nums;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  margin-right: 2em;
  overflow: visible;
}

ul.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  border-width: 2px;
  border-color: var(--border-color);
  border-style: solid;
  flex: 1;
  padding: 1em;
}

.swatch {
  display: inline-block;
  width: 2rem;
  aspect-ratio: 1/1;
  background-color: var(--color);
  border-radius: 50%;
  margin: 1ch;
}

li.li_legend {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.container {
  display: flex;
  align-items: center;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}



circle {
  transition: 200ms; 
  transform-origin: center;
  transform-box: fill-box;
  
  @starting-style {
  r: 0;
  transition: all 200ms, r calc(var(--r) * 100ms);
}
}

circle:hover {
  transform: scale(1.5);
}

dl.info {
  /* ... other styles ... */
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

#commit-tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  backdrop-filter: blur(10px) saturate(1.5);
  padding: 1rem;
}
#commit-link:hover {
  background-color: var(--color-accent);
  padding-bottom: 0;
  padding-top: 0;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;
}

#stats {
  dl {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  /*border: 2px solid #999;
  /*padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: var(--color-accent);*/
  /*gap: 1rem;*/
  justify-items: center;
}
dt {
  grid-row: 1;
  font-family: 'Roboto', sans-serif;
  /*font-weight: bold;*/
  text-transform: uppercase;
  font-size: 8px;
  margin: 0;
}
dd {
  grid-row: 2;
  /*font-size: 18px;
  align-items: center;*/
  margin: 0;
  /*font-family: 'Consolas';*/
}
}

.gridlines {
  opacity: 0.25;
}

dl.info {
  display: grid;
  dt {
    grid-column: 1;
  }
  dd {
    grid-column: 2;
  }
}
.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
}

#language-breakdown {
  /*font-family: Orbitron, sans-serif;*/
  font-family: 'Consolas', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  justify-items: center;
  dt {
    text-transform: uppercase;
    grid-row: 1;
    margin: 0;
  }
  dd {
    grid-row: 2;
    margin: 0;
  }
}

#commitFilter {
  display: flex;
}
#commitLabel {
    flex: 1;
    align-items: baseline;
  }
#commit-time {
    margin-left: auto;
  }



#files {
  display: grid;
  grid-template-columns: 1fr 4fr;

  > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  dt {
    grid-column: 1;
  }

  dd {
    grid-column: 2;
  }
}